h1{
  border: 3px solid gray;
  background-color: lightgray;
  text-align: center;
  font-family: sans-serif;

}

@media(max-width: 499px){
  #welcome::before{
    content: "Welcome!"
  }
  #intro::before{
    content: "Introduction"
  }

  #scores::before{
    content: "2019 Scores"
  }

  .what::before{
    content:"What is it?";
  }

  #bGames::before{
    content: "Favortite Games:"
  }

  #things::before{
    content:"Who am I?"
  }

}
button{
  background-color: #032609;
}
@media(min-width: 500px){

  #things::before{
    content: "Here are some things about me!"
  }

  #welcome::before{
    content: "Welcome to my Webpage!!!"
  }
  #intro::before{
    content: "Introduction to me (Ben)"
  }

  #scores::before{
    content: "Here are some scores from the 2019 season"
  }

  #rWhat::before{
    content:"What exactly is rifle as a sport?";

  }
  #lWhat::before{
    content: "What exactly is Letterboxing?";
  }

  #bGames::before{
    content:"What board games are my favorite?"
  }


}



.intScore
{
  color: #6b2b00;
}

ul{

}

h3{
  color:#074520;
}

h4, h2{
  margin-left: 20px;
  color: #142904
}

table{
  border:1px solid black;
  border-collapse: collapse;
  width: 80%;
}

th, td{
  border: 4px solid black;
  padding: 6px;
  text-align: center;
}
th{
  background-color: #b89797
}
li>ul{
  color: #380c0c;
}
ol
{
  color: #801111;
  list-style-type: upper-roman;
}
img{
  margin-left: 25%;
}

.desc{
  font-style:italic;
  text-align: center;
}
