h1{
  border: 3px solid gray;
  background-color: lightgray;
  text-align: center;
  font-family: sans-serif;

}



h3{
  color:#074520;

}
h4, h2{
  margin-left: 20px;
  color: #142904
}

table{
  border:1px solid black;
  border-collapse: collapse;
  width: 80%;
}

th, td{
  border: 4px solid black;
  padding: 6px;
  text-align: center;
}
th{
  background-color: #b89797
}
li>ul{
  color: #380c0c;
}
ol
{
  color: #801111;

}
img{
  margin-left: 25%;
}

.desc{
  font-style:italic;
  text-align: center;
}
